@use "../../variables/variables" as *;
.upper-nav,
.lower-nav {
  z-index: 1000;
  position: relative;
}
.searchbar {
  position: fixed;
  top: 0;
  height: -webkit-fill-available;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #00000052;
  .remove {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.searchbar-container {
  z-index: 100000;

  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  max-height: 800px;
  background-color: $white-color;
  overflow-y: scroll;
  padding: 25px;
  border-radius: 6px;
  &::-webkit-scrollbar {
    width: 0;
  }
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  button {
    &:last-child {
      border-radius: 6px;
      // border: 1px solid #f1f1f1;
      // color: #777777;
      background-color: $primary-color;
      color: $white-color;
      width: fit-content;
      margin: auto;
      padding: 12px 20px;
      font-weight: bold;
      position: relative;
      z-index: 1;
      overflow: hidden;

      &::before {
        content: "";
        background-color: $secondary-color;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        z-index: -1;
        height: 100%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
      transition: 0.6s;
      -webkit-transition: 0.6s;
      -moz-transition: 0.6s;
      -ms-transition: 0.6s;
      -o-transition: 0.6s;
    }
  }
}
.fake-search-bar {
  button {
    opacity: 0.5;
  }
}
.searchbar-content {
  img {
    width: 150px !important;
    @media (max-width: 767px) {
      width: 120px !important;
    }
  }
  .right {
    flex: 1;
  }
  h4 {
    margin: 8px 0 12px;
    color: $body-color;
    font-weight: bold;
    text-transform: capitalize;
  }
  h3 {
    font-weight: bold;
    color: $heading-color;
  }
}
.searched-prod {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-property: box-shadow;
  &:hover {
    border-color: transparent;
    box-shadow: 0px 1px 3px 4px #f1f1f138, 0px 3px 3px 2px #00000014;
    h4 {
      color: $primary-color;
    }
  }
  .old-price {
    color: $body-color;
    text-decoration: line-through;
  }
  .love-icon,
  .cart-icon {
    padding: 15px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    color: $body-color;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition-property: background-color;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    &:hover {
      border-color: transparent;
      background-color: $primary-color;
      color: $white-color;
    }
  }
}

.close-btn {
  cursor: pointer;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: $lighter-color;
  color: $dark-color;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  &:hover {
    background-color: $primary-color;
    svg {
      color: $white-color;
    }
  }
}
.cat-drawer,
.nav-items-drawer {
  padding: 20px;
}
.lower-nav {
  .container > .flex {
    @media (min-width: 992px) {
      height: 60px;
    }
  }
  // box-shadow: 0px 4px 4px 2px #0000002b, 0px 4px 4px 3px #f7f7f742;
  background-color: $secondary-bg;
  .cat-drawer-btn {
    height: 100%;
  }
  .categories-btn {
    padding: 16px 20px;
    background-color: $primary-color;
    color: $white-color;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
  }
}
.nav-items-drawer {
  text-align: center;
  padding: 20px;
  a {
    display: block;
  }
  .nav-ul {
    padding-top: 15px;
  }
}

.cat-drawer {
  svg {
    color: $primary-color;
  }
  color: $body-color;
  a {
    text-transform: capitalize;

    &:hover {
      color: $black-color;
    }
  }
}
.cat-li {
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 10px;
  color: $body-color;
  &:hover {
    color: $black-color;
  }
}
.women-ul {
  overflow: hidden;
  padding: 0px 40px;
  padding-right: 0;
  a {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 0;
  }
}
.nav-ul {
  .nav-item {
    color: $heading-color;
    @media (max-width: 767px) {
      color: $body-color;
    }
    position: relative;
    text-transform: capitalize;
    width: fit-content;
    margin: auto;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    display: block;
    font-weight: bold;

    &::before {
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      content: "";
      bottom: -6px;
      left: 0;
      position: absolute;
      width: 0%;
      height: 2px;
      background: $black-color;
      @media (max-width: 767px) {
        background: $body-color;
      }
    }
    &:hover,
    &.active {
      color: $black-color;
      @media (max-width: 767px) {
        color: $body-color;
      }
      &::before {
        width: 100%;
      }
    }
  }
}
.nav-icons {
  height: 100%;
  align-items: center;
  .nav-icon,
  .nav-icon a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $body-color;
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 1.2rem;
    &::before {
      content: "";
      position: absolute;
      background-color: $secondary-color;
      width: 0%;
      height: 0%;
      scale: 0.5;
      z-index: -1;
      border-radius: 50%;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
    span {
      top: 0px;
      font-size: 0.9rem;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      font-weight: bold;
    }
    &:hover {
      color: $white-color;
      &::before {
        width: 100%;
        height: 100%;
        scale: 1;
      }
      span {
      }
    }
  }
}
