$primary-color: #3577f0;
$primary-light: #8c71db;
$secondary-color: #ff497c;
$teritary-color: #fab8c4;
$primary-bg: #ffffff;
$secondary-bg: #f7f7f7;
$teritary-bg: #f9f3f0;
$heading-color: #292930;
$body-color: #777777;
$light-color: #cbd3d9;
$lighter-color: #f6f7fb;
$lightest-color: #c4c4c4;
$white-color: #ffffff;
$black-color: #000000;
$dark-color: #27272e;
$dash-shadow: 0 0.125rem 0.25rem rgb(165 163 174 / 30%);
$primary-dash-color: #7367f0;
$dash-hover: #f4f4f5;
$button-gradint: linear-gradient(
  72.47deg,
  #7367f0 22.16%,
  rgba(115, 103, 240, 0.7) 76.47%
);
$button-shadow: 0px 2px 6px 0px rgb(115 103 240 / 48%);
$dash-light-color: #a5a3ae;
$dash-heading-color: #5d596c;
$dash-border-color: #dbdade;
$dash-text-color: #6f6b7d;
